<div class="container">
    <span class="text-muted">
        Conteúdos de <a href="/{{nome}}">{{nome}}</a>
    </span>
    <div class="container">
        <hr>
        {{#each posts}}
            <div class="card mb-3" style="">
                <div class="card-body">
                    <div class="card-title">
                        <a href="/post/{{id}}">{{id}}. {{titulo}}</a>
                    </div>
                    <div class="card-subtitle mb-2 text-muted">
                        {{data}}
                        <a href="/{{nome}}">{{nome}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>